@import "~normalize.css/normalize.css";
@import "~node-bourbon/node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
$sideLong:500px;
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateY(-50%) translateX(-50%));
}

@mixin edit {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

//解决移动端overflow不起作用问题
html,
body {
  max-width: 500px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

//loading
.loading {
  background-color: #e3e7ec;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10000;
}

.wrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  .logo.bg {
    position: absolute;
    top: 0;
    z-index: 10010;
    -webkit-animation: rotating 1.2s linear infinite;
    -moz-animation: rotating 1.2s linear infinite;
    -o-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
  }
  .logo.front {
    @include center;
    width: 80%;
    z-index: 10020;
  }
}

//audio
.audio-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("/images/normalmusic.svg");
  background-size: contain;
}

.rotate {
  -webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}

//animation
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg)
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

img {
  display: block;
  width: 100%;
}

.page {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  .background-wrapper {
    width: 100%;
    height: 100%;
    .background {
      width: auto;
      height: 100%;
      @include transform(translateX(0));
    }
  }
  .background.active {
    @include transition(transform 2s);
  }
}

.front {
  z-index: 1010;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.front.active {
  @include animation(fadeIn 1s);
  visibility: visible;
  opacity: 1;
}

.front.out {
  @include animation(fadeOut 1s);
}

//page1
.page1 {
  @include background(url("/images/1-bg1.jpg") center no-repeat);
  .main {
    @include center;
    width: 100%;
    .txt {
      margin: 0 auto;
    }
    .txt.head {
      width: 70%;
      margin-bottom: 15%;
      @include transform(translateX($sideLong));
    }
    .txt.txt2 {
      width: 45% !important;
    }
    .txt.sub {
      width: 30%;
      margin-bottom: 5%;
      @include transform(translateX(-$sideLong));
    }
  }
  //缓动
  .active {
    @include transition(transform 2s);
    @include transform(translateX(0) !important);
  }
}

//page2
.page2 {
  // @include edit;
  @include background(url("/images/2-bg1.jpg") center no-repeat);
  img {
    position: absolute;
  }
  .txt3 {
    top: 20%;
    left: 5%;
    width: 40%;
  }
  .mask {
    -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 300px 0;
  }
  .paper {
    width: 30%;
    right: 10%;
    top: 40%;
  }
  .map {
    right: 0;
    top: 15%;
    width: 60%;
  }
  .rect {
    width: 50%;
    top: 45%;
    left: 5%;
  }
  .people {
    width: 50%;
    bottom: 0;
    left: 5%;
  }
  .trans {
    visibility: hidden;
    opacity: 0;
    @include transition(all 2s);
  }
  //缓动
  .trans.active {
    @include transition(all 2s);
    visibility: visible;
    opacity: 1;
  }
  .mask.active {
    -webkit-mask-position: 0px 0;
    @include transition(-webkit-mask-position 1s !important);
  }
}

//page3
.page3 {
  // @include edit;
  @include background(url("/images/3-bg1.jpg") center no-repeat);
  .kid {
    top: 60%;
    right: 10%;
    width: 30%;
  }
  .mom {
    top: 60%;
    width: 50%;
    left: 0;
  }
  .trans {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .active {
    @include transition(all 2s);
    visibility: visible;
    opacity: 1;
  }

  video{
    @include center;
    width: 100%;
    z-index:1010;
  }
}

//page4
.page4 {
  // @include edit;
  .phone {
    @include transform(translateX(-50%));
    left: 50%;
    width: 80%;
    top: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    @include transition(all 2s);
  }
  .weibo {
    @include transform(translateX(-50%));
    left: 50%;
    width: 80%;
    top: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    @include transition(all 2s);
  }
  .weibo.active {
    @include transition(all 2s);
    visibility: visible;
    opacity: 1;
  }
  .phone.active {
    @include transition(all 2s);
    visibility: visible;
    opacity: 1;
  }
}

//page5
.page5 {
  // @include edit;
  .front {
    position: absolute;
    bottom: 0;
    width: 30%;
    @include transform(translateX(0));
  }
  .car2 {
    left: 10%;
    bottom: 10%;
    @include transform(translateX(-100px));
  }
  .car1 {
    @include transform(translateX(-100px));
  }
  .car1.active {
    @include animation(carRun 2s infinite);
  }
  .car2.active {
    @include animation(carRun 2s infinite);
  }
  @keyframes carRun {
    from {
      @include transform(translateX(-100px));
    }
    100% {
      @include transform(translateX($sideLong));
    }
  }
}

//page6
.page6 {
  // @include edit;
  @include background(url("/images/1-bg1.jpg") center no-repeat);
  .main {
    @include center;
    width: 100%;
    .video {
      background-color: #ccc;
      width: 100%;
      height: 200px;
      margin-bottom: 10%;
      iframe {
        position: relative;
        left: 5%;
        width: 90%;
        height: 100%;
        display: block;
        border: none;
      }
    }
    .txt {
      margin: 0 auto;
    }
    .txt.head {
      width: 70%;
      margin-bottom: 10%;
      @include transform(translateX(-$sideLong));
    }
    .txt.sub {
      width: 30%;
      margin-bottom: 5%;
      @include transform(translateX(-$sideLong));
    }
    .active {
      @include transition(transform 2s);
      @include transform(translateX(0) !important);
    }
  }
}

//page7
.page7 {
  @include background(url("/images/1-bg1.jpg") center no-repeat);
  // @include edit;
  .main {
    @include center;
    width: 100%;
    .video {
      width: 100%;
      height: 200px;
      background-color: #444;
      margin-bottom: 10%;
    }
    .txt {
      margin: 0 auto;
    }
    .txt.head {
      width: 70%;
      margin-bottom: 10%;
      @include transform(translateX(-$sideLong));
    }
    .txt.sub {
      width: 30%;
      margin-bottom: 5%;
      @include transform(translateX(-$sideLong));
    }
    .qrcode {
      margin: 0 auto;
      width: 50%;
      -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
      -webkit-mask-size: 110%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 0 -300px;
    }
    .active {
      @include transition(transform 2s);
      @include transform(translateX(0) !important);
    }
    .qrcode.active {
      -webkit-mask-position: 0 0;
      @include transition(-webkit-mask-position 2s !important);
    }
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-show {
  visibility: visible;
  opacity: 1;
  @include transition(all 1s);
}

//--------------
.plane,
.plane-bottom {
  z-index: 100;
  position: absolute;
  width: 50px;
}

.flash {
  @include animation(flash 1.0s ease-in alternate-reverse infinite);
}

.plane.show,
.plane-bottom.show {
  visibility: visible;
  opacity: 1;
}

.plane.hide,
.plane-bottom.hide {
  visibility: hidden;
  opacity: 0;
}

.plane.show-entry,
.plane-bottom.show-entry {
  @include transition(all 1s);
}

.plane-bottom {
  width: 90px;
  .plane-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    .plane-bgc {
      width: 100%;
      height: 100%;
      background-color: #ccc;
      border: 2px solid #777;
      border-radius: 50%;
      @include transform(scale(0.7,
      0.7));
      opacity: 0.4;
    }
    img {
      @include center;
    }
  }
  left: 50%;
  bottom: 5%;
  @include transform(translateX(-50%));
  .plane-txt {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bolder;
    color: #444;
    font-family: '黑体';
    background-color: #ccc;
    border-radius: 10px;
    margin: 5px;
  }
}

.plane-bottom.fly-out {
  @include transition(all 1s);
  @include transform(translateX(300px) translateY(-200px));
  .plane-txt {
    visibility: hidden;
  }
}

.page2 {
  .plane {
    left: -100px;
    top: 80%;
    @include transform(translateX(0) translateY(0));
  }
  .plane.fly1 {
    @include transition(all 1s);
    @include transform(translateX(200px) translateY(-150px));
  }
  .plane.fly-out {
    @include transition(all 1s);
    @include transform(translateX(600px) translateY(-400px))
  }
}

.page3 {
  .plane {
    left: -100px;
    top: 80%;
    @include transform(translateX(0) translateY(0));
  }
  .plane.fly1 {
    @include transition(all 1s);
    @include transform(translateX(300px) translateY(-150px));
  }
  .plane.fly-out {
    @include transition(all 1s);
    @include transform(translateX(600px) translateY(-200px))
  }
}

.page4 {
  // @include edit;
  .plane {
    left: -100px;
    top: 50%;
  }
  .plane.fly1 {
    @include transition(all 1s);
    @include transform(translateX(200px) translateY(100px))
  }
  .plane.fly2 {
    @include transition(all 2s);
    @include transform(translateX(300px) translateY(150px))
  }
  .plane.fly-out {
    @include transition(all 1s);
    @include transform(translateX(600px) translateY(-400px))
  }
}

.page5 {
  // @include edit;
  .plane {
    left: -100px;
    top: 50%;
  }
  .plane.fly1 {
    @include transition(all 1s);
    @include transform(translateX(300px) translateY(100px));
  }
  .plane.fly2 {
    @include transition(all 2s);
    @include transform(translateX(300px) translateY(-150px));
  }
  .plane.fly-out {
    @include transition(all 1s);
    @include transform(translateX(500px) translateY(-200px))
  }
}

.page6,
.page7 {
  .plane {
    left: 50%;
    bottom: 7%;
    @include transform(translateX(-50%));
  }
  .plane.fly-out {
    @include transition(all 1s);
    @include transform(translateX(200px) translateY(-200px))
  }
}

@include keyframes(flash) {
  from {
    @include transform(scale(0.7,
    0.7));
    opacity: .4;
  }
  to {
    @include transform(scale(0.9,
    0.9));
    opacity: .4;
  }
}