@import "~normalize.css/normalize.css";
@import "~node-bourbon/node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
$sideLong:500px;
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateY(-50%) translateX(-50%));
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
}

.page {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover !important;
}

.page1 {
  @include background(url("/images/1-bg2.png") center no-repeat,
  url("/images/1-bg1.jpg") center no-repeat);
  .main {
    @include center;
    width: 100%;
    .txt {
      margin: 0 auto;
    }
    .txt.head {
      width: 70%;
      margin-bottom: 10%;
      @include transform(translateX($sideLong));
    }
    .txt.sub {
      width: 30%;
      margin-bottom: 5%;
      @include transform(translateX(-$sideLong));
    }
  }
  //缓动
  .active {
    @include transition(transform 2s);
    @include transform(translateX(0) !important);
  }
}

.page2 {
  @include background(url("/images/2-bg1.jpg") center no-repeat);
  img {
    position: absolute;
  }
  .txt3 {
    top: 32%;
    left: 10%;
    width: 40%;
    @include transform(translateX(-$sideLong));
  }
  .sub {
    width: 70%;
  }
  .txt1 {
    top: 7%;
    @include transform(translateX($sideLong));
  }
  .txt2 {
    top: 14%;
    right: 2%;
    @include transform(translateX($sideLong));
  }
  .front {
    display: none;
  }
  //缓动
  .active {
    @include transition(transform 2s);
    @include transform(translateX(0) !important);
  }

  .txt3.active {
    @include transition(transform .5s);
    @include transform(translateX(0) !important);
  }
}

.page3 {
  @include background(url("/images/3-bg2.jpg") 0 center no-repeat);
  .txt1 {
    position: absolute;
    width: 60%;
    top: 10%;
    left: 50%;
    @include transform(translateX(-50%));
    transition: left 1s;
  }
}

.page4 {
  @include background(url("/images/4-bg1.png") 0 center no-repeat);
  .main {
    height: 100%;
    width: 100%;
    .phone {
      width: 80%;
      margin: 0 auto;
    }
    .weibo {
      display: none;
    }
  }
}

.is-show {
  visibility: visible;
}

//--------------
.plane {
  z-index: 1000;
  position: absolute;
  width: 50px;
  left: 50%;
  bottom: 7%;
  @include transform(translateX(-50%));
}