<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections></configSections>
  <connectionStrings>


  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="magnus-internal/imagemap"/>
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />-->
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>